@media screen and (max-width: 1200px) {

.body_circle {
  display:block;
}

/* Behaviors */
.menu_checkbox {
  display: none;
}

.menu_checkbox:checked ~ .sidebar {
  display:block;
}

.menu_checkbox:checked ~ .body {
  display:block;
}

}
