/* Mobile only */
@media screen and (max-width: 1200px) {

h1, h2, h3, p.large, p.lead {
  color: #000000;
}

a {
  text-decoration: underline;
}

h1 {
  padding-top: 25px;
}

li {
  padding: 5px;
}

.sidebar li a {
  opacity:.9;
  color: #000000;
  text-decoration:none;
}

li a:hover {
  text-decoration:none;
  color: #000000;
}

.button_show:hover, .sidebar li:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.sidebar {
  position:fixed;
  top:200px;
}

.sidebar li {
  margin-top:50px;
}

.sidebar li.active a {
  color: #000000;
  opacity:.8;
}

.footer {
  font-size: 18px;
  opacity: .85;
  text-align: center;
  padding: 0px;
  color: #FFFFFF;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.body_circle, .body_square, .button_show, .sidebar li {
  opacity:.80;
  background-color: #FFFFFF;
  color: #000000;
  border: solid 1px #000000;
}

.body_square {
  top: 75px;
  left: 150px;
}

.button_instructions {
  display:none;
}

video {
  opacity:.85;
}
