/* Mobile only */
@media screen and (max-width: 1200px) {
  html {
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  body {
    font-size: 50px;
  }

  li a {
    color: #666666;
    font-size: 40px;
  }

  .button_show, .button_accessibility, .button_instructions {
    display:none;
  }

  .sidebar {
    top: 100px;
    font-size: 60px;
  }

  .footer {
    font-size: 32px;
    height:100px;
    opacity: .85;
    text-align: center;
    padding-left: 0px;
  }

  .sidebar {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display:block;
  }

  .sidebar li {
    font-size:40px;
    margin-bottom:5px;
    margin: 25px;
    width:auto;
    background-color: #FFFFFF;
    color: #000000;
    width: 100px;
    height: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    padding:25px;
    opacity:.85;
    float:left;
  }

  .body_circle, .body_square {
    top: 200px;
  }

  .body_circle {
    width: 600px;
    height: 600px;
    -moz-border-radius: 600px;
    -webkit-border-radius: 600px;
    border-radius: 600px;
  }

  .body_square {
    height: 80%;
    overflow:scroll;
  }
