/* Mobile only */
@media screen and (max-width: 1200px) {
  html {
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .footer {
    font-size: 22px;
    opacity: .85;
    text-align: center;
    padding: 0px;
  }

  .sidebar li {
    font-size: 40px;
  }

  .body_circle {
    width: 600px;
    height: 600px;
    -moz-border-radius: 600px;
    -webkit-border-radius: 600px;
    border-radius: 600px;
    padding: 60px;
    font-size: 24px;
    line-height: 1.5;
  }
