/* Mobile only */
@media screen and (max-width: 1200px) {
  html {
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .button_show {
    display:none;
  }
